@tailwind base;
@tailwind components;
@tailwind utilities;
 
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #0052d4, #4364f7, #6fb1fc);

    --background: 230 65% 3.36%;
    --foreground: 230 10% 97.1%;

    --muted: 230 50% 12.6%;
    --muted-foreground: 230 10% 54.2%;

    --popover: 230 45% 5.46%;
    --popover-foreground: 230 10% 97.1%;

    --card: 230 45% 5.46%;
    --card-foreground: 230 10% 97.1%;

    --border: 230 50% 12.6%;
    --input: 230 50% 12.6%;

    --primary: 230 100% 42%;
    --primary-foreground: 230 10% 97.1%;

    --secondary: 230 50% 12.6%;
    --secondary-foreground: 230 10% 97.1%;

    --accent: 230 50% 12.6%;
    --accent-foreground: 230 10% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 230 10% 97.1%;

    --ring: 230 100% 42%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
